.predict-page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color:#EBE3DB;
}

.predict-page form input,
.predict-page form select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.predict-page form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
    margin-right: 5px;
}
